<div class="header cf">
	<div class="lang">
		<div title="English" id="gb" onclick="document.location='/english'"><img src="/assets/images/gb.gif" /></div>
		<div title="Nederlands" id="nl" onclick="document.location='/'"><img src="/assets/images/nl.gif" /></div>
		<div title="Espa&ntilde;ol" id="es" onclick="document.location='/espanol'"><img src="/assets/images/es.gif" /></div>
	</div>
	<div class="logo" onclick="document.location='/'">WKHP</div>
	<div class="onderschrift">Werkverband van Katholieke Homo-Pastores</div>
</div>
<div class="menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/landelijke-dagen">Landelijke dagen</a></li>
		<li><a href="/publicaties">Publicaties</a></li>
		<li><a href="/persverklaringen">Persverklaringen</a></li>
		<li><a href="/archief">Archief</a></li>
		<li><a href="/contact">Contact</a></li>
		<li><a href="/links">Links</a></li>
	</ul>
</div>